
.carrusel-container{
    margin-top: 1.5rem;
}

.carrusel-phone-container{
    width: 95vw;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title h2{
    font-weight: 900;
}

.carrusel-phone{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carrusel-phone ul{
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
    display: flex;
    gap: 3rem;
    overflow: hidden;
    overflow-x: scroll;
}

.carrusel-phone ul::-webkit-scrollbar{
    width: 0;
}
  
.carrusel-phone ul::-webkit-scrollbar-thumb{
    width: 0;
}

.carrusel-phone li{
    transition: all 1.5s ease 0s;
}

.row-directions{
    width: 95vw;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    margin-top: 20%;
    position: absolute;
    z-index: 1000;
}

.row-directions ion-icon{
    color: #dc291c;
}

.row-left,.row-right{
    font-size: 3em;
}

@media (min-width:1120px){
    
    .carrusel-container{
        width: 65vw;
        margin: auto;
        margin-top: 0;
        padding-top: 2rem;
        top: 45vh;
        left: 9vw;
        background: #fff;
    }

    .carrusel-phone-container{
        width: auto;
        height: 55vh;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .row-directions{
        width: 60vw;
        display: flex;
        justify-content: space-between;
        padding: 0 .5rem;
        margin-top: 15%;
        left: 2vw;
        position: absolute;
        z-index: 1000;
    }

    .carrusel-phone{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carrusel-phone ul{
        padding: 1rem;
        display: flex;
        gap: 3rem;
        overflow: hidden;
        overflow-x: scroll;
    }

}
