
.header-container{
    background: #222;
    padding: .7rem .3rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text{
    font-size: 1.1em;
    font-weight: 700;
}

.header-button button{
    background: #0fbddf;
    border-radius: .8rem;
    padding: .4rem;
}

.header-button a{
    display: flex;
    align-items: center;
    gap: .35rem;
    color: #fff;
    font-weight: 700;
}

.header-button ion-icon{
    font-size: 1.2em;
}

.header-button a p{
    margin: 0;
}

.logo-container{
    background: #dc291c;
    padding: .5rem 1rem;
    text-align: start;
}

.logo-img img{
    width: 30%;
}

@media (min-width:1120px){

    .logo-container{
        background: #dc291c;
        padding: 1rem 2rem;
        text-align: start;
    }
    
    .logo-img img{
        width: 10%;
    }

}
