.img{
    width: 99vw;
}

.img-container{
    width: 100%;
}

.img-container img{
    width: 100%;
}

@media (min-width:1120px){

    .img{
        width: 99vw;
    }
    
    .img-container img{
        width: 100%;
    }

}